#heading{
	font-family: Papyrus, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
#heading h1{
	font-size: 40px;
	float: left;
	padding-left: 30px;
	width: 300px;
	text-align: left;
	color: #5900b3;
}
#heading ul{
	font-size: 20px;
	padding-right: 5px;
	list-style: none;
	padding-top: 25px;
	width: 800px;
}
#heading ul li{
	float: right;
}
#heading ul li a{
	display: block;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	color: #9933ff;
}

hr{
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
}
img{
	width: 300px;
	padding: 50px;
	float: left;
}
span{
	width:400px;
	padding-left: 500;
	padding-right: 25px;
	padding-top: 50px;
	float: right;
}

.container{
	margin: 0 auto;
	width: 850px;
	background-color:  #f2e6ff;
	overflow: hidden;
}
.containerFoot{
	margin: 0 auto;
	width: 850px;
	background-color: #cc99ff;
	overflow: hidden;
	padding-bottom: 10px;
}